In [64]:
import pandas as pd
import numpy as np

In [65]:
data = pd.read_csv(r"C:\Users\TERRA\JAVA\dio-java-basico\udemy1\Origem\arquivos_csv\Clientes.csv", delimiter=',')
data.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [66]:
# Filtrar 1 item especifico de uma coluna
estado = data.loc[data['state'] == 'São Paulo']
estado

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
20,20,2017-12-22 10:51:28,Adalberto,Silva,adalberto@usuario.com,9 1338-1447,Brasil,São Paulo,Rua 57 do Estado São Paulo,851.0,Conjunto 20
59,59,2017-12-03 16:24:32,Stephanie,Freire,stephanie@usuario.com,9 3256-1853,Brasil,São Paulo,Rua 52 do Estado São Paulo,34.0,Apto 24
78,78,2017-11-02 22:13:22,Laura,Queiroz,laura@exemplo.com,9 6338-8617,Brasil,São Paulo,Praça 19 do Estado São Paulo,878.0,Conjunto 3

In [67]:
# escolher estados especificos
estados = ['Rio de Janeiro','Ceará', 'Rondônia','Bahia']
data_estados = data.loc[data['state'].isin(estados)]

In [68]:
data_estados2 = data.loc[data['state'].isin(['Rio de Janeiro','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',    
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia'])]
data_estados2

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
32,32,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
43,43,2018-01-07 07:54:22,Daniela,Lima,NaN,9 1763-2584,Brasil,Rio de Janeiro,NaN,NaN,Apto 20
47,47,2018-09-01 23:00:40,Júlia,Castro,júlia@exemplo.com,9 7096-1780,Brasil,Rio de Janeiro,Rua 39 do Estado Rio de Janeiro,983.0,Conjunto 7
48,48,2018-05-29 04:22:54,Clarissa,Albuquerque,clarissa@exemplo.com,9 7403-4273,Brasil,Ceará,NaN,NaN,Apto 12
49,49,2018-11-01 02:13:51,Júlia,Sousa,júlia@exemplo.com,9 2094-8467,Brasil,Rondônia,Rua 12 do Estado Rondônia,260.0,Apto 27
55,55,2018-07-10 18:40:07,Gabriela,Pires,gabriela@meu_email.com,9 1214-1539,Brasil,Rio de Janeiro,Rua 32 do Estado Rio de Janeiro,838.0,Apto 29
58,58,2018-09-13 03:13:02,Rafael,Rodrigues,rafael@meu_email.com,9 6550-3557,Brasil,Bahia,Praça 94 do Estado Bahia,647.0,Apto 25
63,63,2018-05-05 17:52:26,Caíque,Batista,caíque@teste.com,9 8818-5886,Brasil,Ceará,Rua 76 do Estado Ceará,239.0,Apto 19
65,65,2018-02-06 05:56:36,Willian,Freitas,NaN,9 3043-7382,Brasil,Rio de Janeiro,Rua 91 do Estado Rio de Janeiro,96.0,Apto 7
68,68,2018-11-14 11:04:35,José,Pires,josé@usuario.com,9 8189-2149,Brasil,Ceará,Avenida 99 do Estado Ceará,231.0,NaN
77,77,2018-11-30 10:29:55,Ana,Monteiro,ana@teste.com,9 3871-4132,Brasil,Bahia,Praça 86 do Estado Bahia,604.0,Apto 30
88,88,2017-10-12 15:17:05,Rafael,Batista,rafael@usuario.com,9 8656-5668,Brasil,Ceará,Rua 78 do Estado Ceará,787.0,Apto 3
89,89,2017-12-07 19:24:54,Daniela,Pires,daniela@usuario.com,9 6666-2265,Brasil,Bahia,Rua 31 do Estado Bahia,441.0,NaN

#### Tratando Nulos

In [69]:
data.isnull().sum()

id              0
created_at      0
first_name      0
last_name       0
email          15
cell_phone      0
country         0
state           4
street         15
number         15
additionals    34
dtype: int64

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           100 non-null    int64
 1   created_at   100 non-null    object
 2   first_name   100 non-null    object
 3   last_name    100 non-null    object
 4   email        85 non-null     object
 5   cell_phone   100 non-null    object
 6   country      100 non-null    object
 7   state        96 non-null     object
 8   street       85 non-null     object
 9   number       85 non-null     float64
 10  additionals  66 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 8.7+ KB

In [71]:
#Substituir valores nulos
data['street'] =           data['street'].fillna('Nao Cadasatrado')
data['email'] =            data['email'].fillna('Email Não Cadastrado')
data['number'] =           data['number'].fillna('Sem Numero')
data['additionals'] =      data['additionals'].fillna('Sem Info')

#### Metodo Replace

In [72]:
data['state'] = data['state'].replace('São Paulo', 'SP')
data['state'] = data['state'].replace('Acre', 'AC')
data['state'] = data['state'].replace('Distrito Federal', 'DF')

In [73]:
data.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,Email Não Cadastrado,9 9102-7834,Brasil,AC,Nao Cadasatrado,Sem Numero,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,Email Não Cadastrado,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,SP,Avenida 59 do Estado São Paulo,534.0,Sem Info
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Nao Cadasatrado,Sem Numero,Sem Info
4,4,2018-08-06 07:24:16,Romário,Teixeira,Email Não Cadastrado,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [74]:
# Fazendo a substituição de um valor específico
valor_original = 'SP'
valor_substituto = 'São Paulo'
data['state'] = data['state'].replace(valor_original, valor_substituto)

In [75]:
data.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,Email Não Cadastrado,9 9102-7834,Brasil,AC,Nao Cadasatrado,Sem Numero,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,Email Não Cadastrado,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,Sem Info
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Nao Cadasatrado,Sem Numero,Sem Info
4,4,2018-08-06 07:24:16,Romário,Teixeira,Email Não Cadastrado,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [77]:
# Mapeando os nomes dos estados para substituição
# Obs itens criados entre chves {} significa dicionario
mapeamento = {'Maranhão': 'Maranhao', 'Piauí': 'Piaui', 'Goiás': 'Goias','São Paulo':'Sao Paulo'}

# Substituindo os nomes dos estados no DataFrame
data['state'] = data['state'].replace(mapeamento)

In [78]:
data.head(30)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,Email Não Cadastrado,9 9102-7834,Brasil,AC,Nao Cadasatrado,Sem Numero,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,Email Não Cadastrado,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,Sao Paulo,Avenida 59 do Estado São Paulo,534.0,Sem Info
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Nao Cadasatrado,Sem Numero,Sem Info
4,4,2018-08-06 07:24:16,Romário,Teixeira,Email Não Cadastrado,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,Email Não Cadastrado,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goias,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,DF,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,Nao Cadasatrado,Sem Numero,Sem Info
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,DF,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14
10,10,2017-12-16 15:41:00,Mariana,Alves,mariana@meu_email.com,9 1846-6377,Brasil,Santa Catarina,Nao Cadasatrado,Sem Numero,Sem Info
11,11,2018-05-16 03:39:52,James,Albuquerque,Email Não Cadastrado,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,Sem Info
12,12,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
13,13,2018-08-27 21:15:17,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21
14,14,2017-11-12 03:02:41,Francisco,Nascimento,francisco@exemplo.com,9 7264-9020,Brasil,DF,Rua 75 do Estado Distrito Federal,47.0,Sem Info
15,15,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,Nao Cadasatrado,Sem Numero,Conjunto 4
16,16,2017-12-12 21:29:54,Laura,Santos,laura@exemplo.com,9 7802-6152,Brasil,Maranhao,Rua 57 do Estado Maranhão,213.0,Sem Info
17,17,2017-10-19 20:18:14,João,Magalhães,joão@exemplo.com,9 5995-1272,Brasil,Pernambuco,Rua 20 do Estado Pernambuco,781.0,Apto 17
18,18,2018-06-28 04:53:52,Jair,Magalhães,jair@exemplo.com,9 8368-1315,Brasil,Alagoas,Avenida 74 do Estado Alagoas,118.0,Conjunto 8
19,19,2018-10-20 19:31:52,Caíque,Monteiro,caíque@exemplo.com,9 9793-9986,Brasil,Piaui,Nao Cadasatrado,Sem Numero,Conjunto 13
20,20,2017-12-22 10:51:28,Adalberto,Silva,adalberto@usuario.com,9 1338-1447,Brasil,Sao Paulo,Rua 57 do Estado São Paulo,851.0,Conjunto 20
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
22,22,2018-04-18 22:43:29,Heitor,Pereira,Email Não Cadastrado,9 4839-8118,Brasil,Maranhao,Avenida 84 do Estado Maranhão,948.0,Sem Info
23,23,2017-10-26 00:35:22,Maria,Pires,Email Não Cadastrado,9 8229-1067,Brasil,Amazonas,Avenida 80 do Estado Amazonas,581.0,Sem Info
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
25,25,2018-08-07 12:22:40,Alice,Veloso,alice@exemplo.com,9 9869-3706,Brasil,Minas Gerais,Praça 73 do Estado Minas Gerais,571.0,Sem Info
26,26,2018-12-12 11:56:14,Eloá,da Silva,eloá@usuario.com,9 3982-5948,Brasil,Espírito Santo,Avenida 98 do Estado Espírito Santo,706.0,Sem Info
27,27,2018-11-08 11:12:47,Luan,Lima,luan@teste.com,9 2529-8197,Brasil,AC,Praça 86 do Estado Acre,303.0,Apto 27
28,28,2017-11-26 05:17:39,Beatriz,Araújo,beatriz@usuario.com,9 4543-3853,Brasil,Minas Gerais,Praça 7 do Estado Minas Gerais,536.0,Conjunto 5
29,29,2018-06-03 17:08:52,Geisa,Santos,geisa@meu_email.com,9 4653-9739,Brasil,Rio Grande do Norte,Avenida 77 do Estado Rio Grande do Norte,486.0,Conjunto 13