In [7]:
import pandas as pd
data = pd.read_csv(r"C:\Users\TERRA\JAVA\dio-java-basico\udemy1\Origem\arquivos_csv\Clientes.csv", delimiter=',')

In [8]:
data['nome completo'] = data['first_name'] + ' ' + data['last_name']
data

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,Marta Jesus
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,Luana Almeida
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             100 non-null    int64
 1   created_at     100 non-null    object
 2   first_name     100 non-null    object
 3   last_name      100 non-null    object
 4   email          85 non-null     object
 5   cell_phone     100 non-null    object
 6   country        100 non-null    object
 7   state          96 non-null     object
 8   street         85 non-null     object
 9   number         85 non-null     float64
 10  additionals    66 non-null     object
 11  nome completo  100 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 9.5+ KB

In [11]:
# Converter a coluna 'created_at' para o formato de data
data['created_at'] = pd.to_datetime(data['created_at'])

print(data['created_at'].dtype)

datetime64[ns]

In [14]:
# Adicionar coluna com o ano
data['ano'] = data['created_at'].dt.year
data

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,Marta Jesus,2017
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,Luana Almeida,2017
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes,2018
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino,2018
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa,2018
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara,2018
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes,2018
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa,2018
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus,2018

In [15]:
# Adicionar coluna com o ano
data['Mes'] = data['created_at'].dt.month
data

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano,Mes
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,Marta Jesus,2017,11
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,Luana Almeida,2017,10
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes,2018,6
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino,2018,1
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa,2018,10
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara,2018,1
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes,2018,7
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa,2018,1
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus,2018,7

In [16]:
# Adicionar coluna com o dia
data['dia'] = data['created_at'].dt.day
data

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano,Mes,dia
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,Marta Jesus,2017,11,1
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,Luana Almeida,2017,10,16
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes,2018,6,16
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino,2018,1,17
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa,2018,10,1
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara,2018,1,23
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes,2018,7,4
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa,2018,1,24
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus,2018,7,24

In [17]:
# Adicionar coluna com o nome do mês em português
meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
         'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
data['Nomemes'] = data['created_at'].dt.month.map(lambda x: meses[x-1])
data

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano,Mes,dia,Nomemes
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,Marta Jesus,2017,11,1,novembro
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,Luana Almeida,2017,10,16,outubro
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes,2018,6,16,junho
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino,2018,1,17,janeiro
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018,8,6,agosto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa,2018,10,1,outubro
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara,2018,1,23,janeiro
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes,2018,7,4,julho
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa,2018,1,24,janeiro
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus,2018,7,24,julho

In [18]:
# Adicionar coluna com o dia
data['Hora'] = data['created_at'].dt.hour
data['Minuto'] = data['created_at'].dt.minute
data['Segundo'] = data['created_at'].dt.second
data

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano,Mes,dia,Nomemes,Hora,Minuto,Segundo
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,Marta Jesus,2017,11,1,novembro,14,45,41
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,Luana Almeida,2017,10,16,outubro,0,50,39
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes,2018,6,16,junho,17,51,29
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino,2018,1,17,janeiro,3,2,58
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018,8,6,agosto,7,24,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa,2018,10,1,outubro,11,35,59
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara,2018,1,23,janeiro,19,14,21
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes,2018,7,4,julho,18,45,41
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa,2018,1,24,janeiro,16,21,6
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus,2018,7,24,julho,8,26,27

Juntar scriypt

In [22]:
#Filtro
Ano2018 = data.loc[data['ano'] == 2018]
Ano2018

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano,Mes,dia,Nomemes,Hora,Minuto,Segundo
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,Frida Mendes,2018,6,16,junho,17,51,29
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,Daniela Avelino,2018,1,17,janeiro,3,2,58
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018,8,6,agosto,7,24,16
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13,Marcelo Barroso,2018,1,5,janeiro,17,20,49
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14,Cristiano Elísio,2018,6,18,junho,11,17,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,Mariana Rosa,2018,10,1,outubro,11,35,59
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,Paulo Câmara,2018,1,23,janeiro,19,14,21
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,Marta Góes,2018,7,4,julho,18,45,41
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,Cibele Costa,2018,1,24,janeiro,16,21,6
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,Jéssica Jesus,2018,7,24,julho,8,26,27

In [26]:
Ano2018mes8 = data[(data['ano'] == 2018) & (data['Mes'] == 8)]
Ano2018mes8.head(30)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,nome completo,ano,Mes,dia,Nomemes,Hora,Minuto,Segundo
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,Romário Teixeira,2018,8,6,agosto,7,24,16
13,13,2018-08-27 21:15:17,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21,Carolina Monteiro,2018,8,27,agosto,21,15,17
25,25,2018-08-07 12:22:40,Alice,Veloso,alice@exemplo.com,9 9869-3706,Brasil,Minas Gerais,Praça 73 do Estado Minas Gerais,571.0,NaN,Alice Veloso,2018,8,7,agosto,12,22,40
40,40,2018-08-17 13:21:08,Gabriela,Nascimento,gabriela@teste.com,9 5382-5772,Brasil,Amapá,Avenida 85 do Estado Amapá,476.0,NaN,Gabriela Nascimento,2018,8,17,agosto,13,21,8
50,50,2018-08-24 07:52:23,Beatriz,Monteiro,beatriz@teste.com,9 3570-4464,Brasil,Minas Gerais,Avenida 17 do Estado Minas Gerais,223.0,Conjunto 22,Beatriz Monteiro,2018,8,24,agosto,7,52,23
57,57,2018-08-23 03:31:05,Stephanie,Barboza,stephanie@meu_email.com,9 1168-6722,Brasil,Maranhão,Avenida 25 do Estado Maranhão,795.0,NaN,Stephanie Barboza,2018,8,23,agosto,3,31,5
67,67,2018-08-31 18:22:52,Laura,Pires,laura@meu_email.com,9 8144-6047,Brasil,Mato Grosso do Sul,Praça 23 do Estado Mato Grosso do Sul,47.0,Apto 7,Laura Pires,2018,8,31,agosto,18,22,52
87,87,2018-08-16 20:25:23,Beatriz,Abreu,beatriz@usuario.com,9 2254-6798,Brasil,Acre,Rua 95 do Estado Acre,482.0,Conjunto 16,Beatriz Abreu,2018,8,16,agosto,20,25,23